{% extends "layout.html" %}

{% block content %}

<h1 class="text-center">I n t r o d u c e &nbsp; t e x t o &nbsp; a &nbsp; a n a l i z a r.</h1>

<section class=centrar>

    <article class=mitad >
        <form action="#" method="POST" name='mexican'>
            <input type="text" style="display: none;" name="lang" value="mexican">
            <p><input class=inputText type="text" name="mexican" /></p>
            <p><input class=button type="submit" value="Español mexicano" /></p>
        </form>
        
    </article>

    <article class=otramitad>
        <form action="#" method="POST" name='spanish'>
            <input type="text" style="display: none;" name="lang" value="spanish">
            <p><input class=inputText type="text" name="spanish" /></p>
            <p><input class=button type="submit" value="Español castellano" /></p>
        </form>
    </article>
</section>
{% endblock %}