{% extends 'layout.html' %}

{% block content %}

<table>
    <tr>
  <th>
<div class="cardio mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="kien" src="{{url_for('static', filename='/images/aaron.jpg')}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        
          <h5 class="card-title">Manuel Aarón Hernández</h5>
          <p class="card-text">Desarrollador de Frontend, especializado en Angular y React, actualmente estudiando ITS en FIME perteneciente a la UANL.
          </p>
         
        
      </div>
    </div>
</th>

<th>
    <div class="cardio mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img class="kien" src="{{url_for('static', filename='/images/liliana.jpg')}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            
              <h5 class="card-title">Liliana Sarahi Hernández</h5>
              <p class="card-text">Desarrollador de Backend especializada en Spring, actualmente cursando el 7mo semestre de Ingenieria de Software en FIME perteneciente a la UANL. </p>
           
            
          </div>
        </div>
        </div>
    </th>     
</tr>   

<tr>
    <th>
  <div class="cardio mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img class="kien" src="{{url_for('static', filename='/images/Sonia.jpg')}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          
            <h5 class="card-title">Sonia Alejandra Treviño</h5>
            <p class="card-text">Especializada en dirección de proyectos,cursando 7mo semestre de la carrera de Ingenieria en Tecnologia de Software de FIME, perteneceiente a la UANL</p>
           
          
        </div>
      </div>
  </th>
  
  <th>
      <div class="cardio mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img class="kien" src="{{url_for('static', filename='/images/Edson.jpg')}}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              
                <h5 class="card-title">Edson Cepeda</h5>
                <p class="card-text">Cientifico de datos, cursando 7mo semestre de la carrera de Ingenieria en Tecnologia de Software de FIME, perteneceiente a la UANL</p>
            
              
            </div>
          </div>
          </div>
      </th>     
  </tr>   


</table>

{% endblock %}