{% extends "layout.html" %}

{% block content %}
 
<h1 class="text-center">R e s u l t a d o s</h1>

<label class=labelResultado>
    <p class=result>Los resultados del análisis de la red neuronal se expresan con un número del 0 al 1.<br> Si el número es cercano a 1 el texto escrito es ofensivo, si es cercano a 0 el texto escrito inofensivo.<br><br>
        El resultado de  '{{user}} ' es: '{{resultado}}'<br><br>
        Se clasifica directamente ofensivo si es mayor o igual a 0.5 y se considera directamente inofensivo si es menor a 0.5. <br> <br>
        Por lo tanto '{{user}}' es ofensivo</p>
</label>

<button type="button" class="button"><a href="{{url_for('reportar')}}">R E P O R T A R</a></button>

{% endblock %}