{% extends "layout.html" %}

{% block content %}
 
<h1 class="text-center">R e s u l t a d o s</h1>

<label>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus recusandae ea ex quam? Sint officiis, dolores tenetur quaerat sapiente vero! Quisquam quasi dolor exercitationem numquam quod iure ipsa. Recusandae, vitae?
    Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.
    Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.
</label>

<button type="button" class="button"><a href="{{url_for('reportar')}}">R E P O R T A R</a></button>

{% endblock %}